.project-container {
  width: auto;
  height: 860px;
}

.button-container {
  position: sticky;
  left: 50%;
  top: 50%;
  height: 110px;
  width: 140px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button-to-chase {
  position: relative;
  top: 30px;
  left: 19px;
  padding: 15px 15px;
  text-align: center;
  font-size: 16px;
  background-color: aqua;
  border: none;
}
