.project-container {
  width: auto;
  height: 990px;
}

.button-container {
  position: sticky;
  left: 50%;
  top: 50%;
  height: 110px;
  width: 150px;
}

.button-to-chase {
  position: relative;
  top: 30px;
  left: 25px;
  padding: 15px 15px;
  text-align: center;
  font-size: 16px;
  background-color: aqua;
  border: none;
}
